@using MVC_Lap2.Models;
@model Employee
@{
    ViewData["Title"] = "Details";
}

<h1> Student Details</h1>

<table>
    <tr>
        <td>     </td>
        <td>Name</td>
        <td>Age</td>
        <td>Address</td>
        <td>Salary</td>
        <td>Email</td>
        <td>Password</td>
    </tr>
    <tr>
        <td>@Model.name</td>
        <td>@Model.age</td>
        <td>@Model.address</td>
        <td>@Model.salary</td>
        <td>@Model.email</td>
        <td>@Model.password</td>

    </tr>
</table>


